@model midterm.Models.Product
<h2>Product detail</h2>
name: @Model.product_name
<br>
price: @Model.product_price
<br>
qty: @Model.product_qty
<br>
<br>
<a asp-action="Index"><button class="btn btn-primary">Back</button></a>