@model midterm.Models.Supplier

<h2>Supplier detail</h2>
name: @Model.supplier_name
<br>
address: @Model.supplier_address
<br>
<br>
<a asp-action="Index"><button class="btn btn-primary">Back</button></a>